@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using GestionCommercial.Shared

@* @attribute [Route("/")] *@
@* @attribute [Route("/{*path}")] *@
@* @attribute [RenderModeInteractiveServer] *@

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <div class="m-3">
                            <h4>Accès refusé</h4>
                            <p>Vous devez être connecté pour accéder à cette page.</p>
                            <a href="/login" class="btn btn-primary">Aller à la page de connexion</a>
                        </div>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Page non trouvée.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
